
<nav class="navbar navbar-default">
    <h1>
        <i class="fa-solid fa-ship"></i>
        Gioca a Battaglia Navale!
    </h1>
    <ul class="nav navbar-nav">
        <li>
            <a (click)="onDisplayColor('sea')">Guarda dov'è il mare <i class="fa-solid fa-water"></i></a>
        </li>
        <li>
            <a (click)="onDisplayColor('ship')">Guarda dove sono le navi <i class="fa-solid fa-anchor"></i></a>
        </li>
        <li>
            <a (click)="onDisplayColor('nothing')">Nascondi tutto <i class="fa-solid fa-eye-slash"></i></a>
        </li>
        <li>
            <a (click)="onStartPage()">Home <i class="fa-solid fa-house"></i></a>
        </li>
    </ul>
</nav>